<!DOCTYPE html>
<html>
<head>
	<title>Amadon Checkout</title>
	<link rel="stylesheet" type="text/css" href="/static/app_main/style.css">
</head>
<body>
	<div class="wrappera">
		<h3>Thank you for your business!</h3>
		<br>
		<p>We charged your credit card $ {{ request.session.total_charged }}
		 {{ request.session.quantity }}</p>
		<br><br>
		<p>You have ordered {{ request.session.total_items }} items so far 
			and spent ${{ request.session.amount_charged }} with Amadon</p>
		<p>
			<form action='/' method='post'>
			{% csrf_token %}
			<input type='submit' value='Go Back To Store'>
			</form>
		</p>
	</div>	
</body>
</html>