<!DOCTYPE html>
<html>
<head>
	<title>Users And Hobbies</title>
	<link rel="stylesheet" type="text/css" href="static/app_main/style.css">

	<script type="text/javascript" src="static/app_main/main.js"></script>
</head>
<body>
	<a href="{% url 'showComment' %}">Take us to a comment!</a>


	<a href="{% url 'courses:show'%}">Goto Courses</a>

	<a href="{% url 'students:root' %}">Goto Students</a>

	{%for msg in messages%}
		<h1 class="{{ msg.tags }}">{{msg}} {{msg.tags}}</h1>
	{%endfor%}


	{%for user in users%}
		<p>{{user.firstName}} {{user.lastName}}</p>
	{%endfor%}

	<fieldset>
		<legend>Create User</legend>	
		<form action="/users/new" method="post">
			{% csrf_token %}
			<input type="text" name="firstName" placeholder="First Name:">
			<input type="text" name="lastName" placeholder="Last Name:">

			<input type="submit" value="Create User">
		</form>
	</fieldset>

	{%for hobby in hobbies%}
		<p>{{hobby.title}}</p>
	{%endfor%}

	<fieldset>
		<legend>Create Hobby</legend>	
		<form action="/hobby/new" method="post">
			{% csrf_token %}
			<input type="text" name="title" placeholder="Title:">

			<input type="submit" value="Create Hobby">
		</form>
	</fieldset>

</body>
</html>